obj
Temp
*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs

/Library/

AnnotationManager
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
DynamicsManager.asset
EditorSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper

DS_Store
#Local Ignores
Assets/Mech_Constructor_Spiders/
Assets/PirateFighters/
Assets/Turret System/
#Audio Files
Assets/Music/
Assets/SoundfX
Assets/Music.meta
Assets/PirateFighters.meta
Assets/SoundfX.meta
Assets/ParticleSystems/Systems.meta
Assets/Pixel Crushers/LoveHate/Example/
ArtSource/

Assets/PCD/
Assets/PCD.meta
Assets/PCD Imported/
Assets/PCD Imported.meta
Assets/PCD Bundled/
Assets/PCD Bundled.meta
